/* ==========================================================================
   #SIZES
   ========================================================================== */

$size-0-xs: 4px !default;
$size-0-s: 8px !default;

$size-1-xs: 10px !default;
$size-1-s: 12px !default;
$size-1-m: 14px !default;
$size-1-l: 18px !default;

$size-2-xs: 20px !default;
$size-2-s: 22px !default;
$size-2-m: 24px !default;
$size-2-l: 28px !default;

$size-3-xs: 30px !default;
$size-3-s: 32px !default;
$size-3-m: 34px !default;
$size-3-l: 36px !default;
$size-3-xl: 36px !default;
