/* ==========================================================================
   #SPACING
   ========================================================================== */

$spacing-0-xs: 4px !default;
$spacing-0-s: 6px !default;
$spacing-0-m: 8px !default;
$spacing-0-l: 10px !default;

$spacing-1-s: 12px !default;
$spacing-1-m: 14px !default;
$spacing-1-l: 18px !default;

$spacing-2-s: 20px !default;
$spacing-2-m: 22px !default;
$spacing-2-l: 24px !default;
$spacing-2-xl: 28px !default;

$spacing-3-s: 30px !default;
$spacing-3-m: 32px !default;
$spacing-3-l: 34px !default;
$spacing-3-xl: 38px !default;

$spacing-4-s: 40px !default;
$spacing-4-m: 42px !default;
$spacing-4-l: 44px !default;
$spacing-4-xl: 48px !default;
