/* ==========================================================================
   #GLOBAL
   ========================================================================== */

/* Transitions */
$animation-speed: 0.3s !default;
$animation-speed-medium: 0.9s !default;
$animation-speed-long: 1.2s !default;
$base-transition-easing: ease-in-out !default;
