/* ==========================================================================
   #SIZES
   ========================================================================== */

$size-xs: 4px !default;
$size-s: 8px !default;
$size-m: 16px !default;
$size-l: 24px !default;
$size-xl: 36px !default;
$size-xxl: 48px !default;
