.booking-test-lesson {
  background: @white;
  box-shadow: 0px 10px 60px hsla(216, 64%, 46%, 0.15);
  border-radius: 10px;
  padding: 34px 50px;
  max-width: 448px;
  width: 100%;

  &__body {
    width: 100%;
  }

  &__heading {
    &.ant-typography {
      margin-bottom: 0;
    }
  }

  &__info-list {
    margin-bottom: 18px;
  }

  &__info {
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__button {
    width: 100%;
  }
}