.calendar-events {

  &--month-view &__month-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &--week-view &__date-info {
    margin-left: 100px;
  }

  &--day-view &__date-info {
    margin-left: 100px;
  }

  &__date-view-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__date-view {
    font-size: 16px;
    color: @grey-2;
    font-weight: 600;
    text-decoration: underline;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &.active {
      color: @red;
    }
  }

  &__month-switcher {
    margin-bottom: 10px;
  }

  &__month-switcher-button {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__month-switcher-icon {
    margin: 0 !important;
  }

  &__month {
    color: @black-2;
    font-size: 20px;
    font-weight: 700;

    &.ant-typography {
      margin-bottom: 0;
    }
  }

  &__event-types {
    padding: 20px 0;
  }

  &__event-type {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__event-type-color {
    width: 24px;
    height: 24px;
    border-radius: @border-radius-md;
    margin-right: 12px;
  }

  &__today-info {
    font-weight: 600;
    color: @grey-2;
    font-size: 16px;
  }

  &__controls-day {
    margin: 0 -4px 20px;
  }

  &__control-day-button {
    padding: 10px;
    margin: 0 4px;
  }
}

.calendar-day-hours {
  &__item {
    height: 100px;
    font-weight: 600;
    font-size: 16px;
    color: @grey-2;
    text-align: center;
  }
}

.calendar-day-view {
  display: flex;
  height: 800px;
  overflow-y: scroll;

  &__left {
    width: 100px;
    padding: 0 20px;
  }

  &__right {
    flex: 1;
  }
}

.calendar-week-view {
  display: flex;
  height: 800px;
  overflow-y: scroll;

  &__left {
    width: 100px;
    padding: 14px 20px;
  }

  &__right {
    flex: 1;
  }

  &__controls {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -4px 16px;
  }

  &__switcher-button {
    padding: 6px;
    margin: 0 4px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.calendar-day-times {
  &--day &__cell {
    &:not(:last-child) {
      border-bottom: 1px solid #DFE3E7;
    }
  }
  
  &--week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  &--week &__item {
    &:not(:last-child) {
      border-right: 1px solid #DFE3E7;
    }
  }

  &--week &__cell {
    &:not(:last-child) {
      border-bottom: 1px solid #DFE3E7;
    }
  }

  &__item.weekend &__cell {
    background-color: #F2F5FA;
  }
  
  &__cell {
    position: relative;
    height: 100px;
    background-color: #E9F4FF;
    padding: 6px;

    .timeline {
      position: absolute;
      top: 40%;
      left: -20px;
      right: 0;
      height: 1px;
      border: 1px solid @red;
    }
  }
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 2;

  &__item {
    
  }

  &__cell {
    color: @grey-2;
    background-color: @grey-3;
    font-weight: 600;
    font-size: @font-size-base;
    padding: 20px;
    &.active {
      color: @red;
    }
  }
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  margin-bottom: 20px;

  &__cell {
    font-weight: 600;
    font-size: @font-size-base;
    padding: 20px;
    height: 100px;
    border: 1px solid @grey-4;
    font-size: 22px;
    background-color: #E9F4FF;
    
    &.current-month {
      color: @black-2;
    }
    &.weekend {
      background-color: #F2F5FA;
      &.current-month {
        background-color: #F2F5FA;
      }
    }
    &.another-month {
      color: @grey-2;
    }
    &.today {
      color: @red;
    }
  }
}