.calendar-events {
  &--month-view &__month-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &--week-view &__date-info {
    margin-left: 100px;
  }

  &--day-view &__date-info {
    margin-left: 100px;
  }

  &__date-view-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  &__date-view {
    font-size: 16px;
    color: @grey-2;
    font-weight: 600;
    text-decoration: underline;
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
    text-transform: capitalize;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 20px;
    }

    &.active {
      color: @red;
    }
  }

  &__month-switcher {
    margin-bottom: 10px;
  }

  &__month-switcher-button {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__month-switcher-icon {
    margin: 0 !important;
  }

  &__month {
    color: @black-2;
    font-size: 20px;
    font-weight: 700;

    &.ant-typography {
      margin-bottom: 0;
    }
  }

  &__event-types {
    padding: 20px 0;
  }

  &__event-type {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__event-type-color {
    width: 24px;
    height: 24px;
    border-radius: @border-radius-md;
    margin-right: 12px;
  }

  &__today-info {
    font-weight: 600;
    color: @grey-2;
    font-size: 16px;
  }

  &__controls-day {
    margin: 0 -4px 20px;
  }

  &__control-day-button {
    padding: 10px;
    margin: 0 4px;
  }
}

.calendar-day-hours {
  &__item {
    height: 100px;
    font-weight: 600;
    font-size: 16px;
    color: @grey-2;
    text-align: center;
  }
}

.calendar-day-view {
  display: flex;
  height: 800px;
  overflow-y: scroll;

  &__left {
    width: 100px;
    padding: 0 20px;
  }

  &__right {
    flex: 1;
  }
}

.calendar-week-view {
  display: flex;
  height: 800px;
  overflow-y: scroll;

  &__left {
    width: 100px;
    padding: 14px 20px;
  }

  &__right {
    flex: 1;
  }

  &__controls {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -4px 16px;
  }

  &__switcher-button {
    padding: 6px;
    margin: 0 4px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.calendar-day-times {
  position: relative;

  &--day &__cell {
    &:not(:last-child) {
      border-bottom: 1px solid #dfe3e7;
    }
  }

  &--week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  &--week &__item {
    &:not(:last-child) {
      border-right: 1px solid #dfe3e7;
    }
  }

  &--week &__cell {
    &:not(:last-child) {
      border-bottom: 1px solid #dfe3e7;
    }
  }

  &__item {
    position: relative;
  }

  &__item.weekend &__cell {
    background-color: #f2f5fa;
  }

  &__cell {
    position: relative;
    height: 100px;
    background-color: #e9f4ff;
    padding: 6px;
  }

  &__timeline {
    position: absolute;
    top: 40%;
    left: -20px;
    right: 0;
    height: 1px;
    border: 1px solid @red;
    z-index: 1;
  }
}

.calendar-event {
  border-radius: 6px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  left: 4px;
  right: 4px;
  padding: 14px;

  &::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 4px;
    bottom: 14px;
    width: 4px;
    border-radius: 11px;
  }

  &--compact {
    position: relative;
    padding: 14px 12px 6px;
    min-height: 54px;

    &::before {
      top: 6px;
      left: 12px;
      right: 12px;
      bottom: auto;
      width: auto;
      height: 6px;
    }
  }

  &--compact &__title {
    max-width: 50px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &--personal {
    background-color: #d1eae7;
  }

  &--personal {
    &::before {
      background-color: #629d9e;
    }
  }

  &--group {
    background-color: #faeedf;
  }

  &--group {
    &::before {
      background-color: #d99754;
    }
  }

  &__title {
    font-size: 12px;
    color: #1a1a1a;
    font-weight: 600;
  }

  &__time {
    font-size: 12px;
    color: @grey-2;
  }
}

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 2;

  &__item {
  }

  &__cell {
    color: @grey-2;
    background-color: @grey-3;
    font-weight: 600;
    font-size: @font-size-base;
    padding: 20px;
    &.active {
      color: @red;
    }
  }
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  margin-bottom: 20px;

  &__cell {
    position: relative;
    font-weight: 600;
    font-size: @font-size-base;
    padding: 8px;
    height: 108px;
    border: 1px solid @grey-4;
    font-size: 22px;
    background-color: #e9f4ff;

    &.current-month {
      color: @black-2;
    }
    &.weekend {
      background-color: #f2f5fa;
      &.current-month {
        background-color: #f2f5fa;
      }
    }
    &.another-month {
      color: @grey-2;
    }
    &.unavailable-day {
      background-color: #f2f5fa;
    }
    &.today {
      color: @red;
    }
  }

  &__cell-events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 6px;

    > div {
      &:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }

      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }
    }
  }
}
