.header {
  // color: @black-1;
  // background: @white;
  // box-shadow: 0px 4px 50px rgba(@blue-light, 0.08);

  &__logo {
    font-weight: 600;
    font-size: 16px;
    // background: linear-gradient(90deg, @red 0%, #FA6655 100%);
    background-clip: text;
    text-fill-color: transparent;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  &__auth-list {
    // @include listreset;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    .ant-divider {
      @media (max-width: 768px) {
        margin: 0 4px;
      }
    }
  }

  &__auth-item {
    display: flex;
    align-items: center;
  }

  &__auth-icon {
    margin-right: 10px;
  }

  &__auth-link {
    color: inherit;
    font-weight: 600;
  }

  &__navigation-col {
    display: none;
  }
}
