.schedule-calendar {
  &__control-button {
    padding: 10px;
  }

  &__body {
    display: flex;
  }

  &__body-left {
    width: 100px;
    padding: 42px 20px 0;
  }

  &__body-right {
    position: relative;
    flex: 1;
  }

  &__event-cell {
    cursor: pointer;
    z-index: 1;
    outline: none;
    border: none;
  }
}
