@import '../1-settings/settings.colors';
@import '../1-settings/settings.spacing';

.schedule-calendar {
  &__control-button {
    &.MuiButtonBase-root {
      padding: $spacing-0-xs $spacing-0-m;
      color: $black;
      min-width: auto;

      &:hover {
        color: $white;
        background-color: $primary-color;
      }
    }
  }

  &__body {
    display: flex;
  }

  &__body-left {
    width: 100px;
    padding: 42px 20px 0;
  }

  &__body-right {
    position: relative;
    flex: 1;
  }

  &__event-cell {
    cursor: pointer;
    z-index: 1;
    outline: none;
    border: none;
  }
}
