@import '../2-tools/tools.mixins';

// @include font-face('Montserrat', 'Montserrat-Light', 300, normal);
// @include font-face('Montserrat', 'Montserrat-Regular', 400, normal);
// @include font-face('Montserrat', 'Montserrat-Bold', 500, normal);
// @include font-face('Montserrat', 'Montserrat-Medium', 600, normal);
// @include font-face('Montserrat', 'Montserrat-SemiBold', 700, normal);
// @include font-face('EBGaramond', 'EBGaramond-Regular', 400, normal);
// @include font-face('EBGaramond', 'EBGaramond-Medium', 500, normal);
// @include font-face('EBGaramond', 'EBGaramond-SemiBold', 600, normal);

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Light.woff2') format('woff2'), url('/fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2'), url('/fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Medium.woff2') format('woff2'), url('/fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2'), url('/fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2'), url('/fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('/fonts/EBGaramond-Regular.woff2') format('woff2'), url('/fonts/EBGaramond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('/fonts/EBGaramond-Medium.woff2') format('woff2'), url('/fonts/EBGaramond-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EBGaramond';
  src: url('/fonts/EBGaramond-Semibold.woff2') format('woff2'), url('/fonts/EBGaramond-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
