@import '../1-settings/settings.fonts';
/* ==========================================================================
   #SHARED
   ========================================================================== */

html,
body {
  font-family: $base-font;
  font-size: $body-font-size;
  line-height: $body-line-height;
}

input,
textarea,
button {
  font-family: $base-font;
  line-height: $body-line-height;
}

address,
blockquote,
pre,
dl,
ol,
ul,
figure,
hr,
table {
  margin-bottom: 0;
}

fieldset,
legend {
  margin-bottom: 0;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 16px 0;
}

h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-heght;

  @media (min-width: $screen-lg) {
    font-size: $h1-font-size;
  }
}
h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-heght;

  @media (min-width: $screen-lg) {
    font-size: $h2-font-size;
  }
}
h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-heght;

  @media (min-width: $screen-lg) {
    font-size: $h3-font-size;
  }
}
h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-heght;

  @media (min-width: $screen-lg) {
    font-size: $h4-font-size;
  }
}
h5 {
  font-size: $h5-font-size;
  line-height: $h5-line-heght;

  @media (min-width: $screen-lg) {
    font-size: $h5-font-size;
  }
}
h6 {
  font-size: $h6-font-size;
  line-height: $h6-line-heght;

  @media (min-width: $screen-lg) {
    font-size: $h6-font-size;
  }
}

p {
  font-size: $body-font-size;
  line-height: $body-line-height;
  margin-bottom: 16px;
}
