.calendar-day-times {
  position: relative;

  &--day &__cell {
    &:not(:last-child) {
      border-bottom: 1px solid #dfe3e7;
    }
  }

  &--week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  &--week &__item {
    &:not(:last-child) {
      border-right: 1px solid #dfe3e7;
    }
  }

  &--week &__cell {
    &:not(:last-child) {
      border-bottom: 1px solid #dfe3e7;
    }
  }

  &__item {
    position: relative;
  }

  &__item.weekend &__cell {
    background-color: #f2f5fa;
  }

  &__cell {
    position: relative;
    height: 100px;
    // background-color: @event-available-lesson-color;
    padding: 6px;
  }

  &__timeline {
    position: absolute;
    top: 40%;
    left: -20px;
    right: 0;
    height: 1px;
    // border: 1px solid @red;
    z-index: 1;
  }
}
