.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 2;

  &__cell {
    // color: @grey-2;
    // background-color: @grey-3;
    font-weight: 600;
    // font-size: @font-size-base;
    padding: 20px;
    &.active {
      // color: @red;
    }
  }
}
