@import '../1-settings/settings.colors';
@import '../1-settings/settings.spacing';
@import '../1-settings/settings.fonts';

.calendar-week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 2;

  &__cell {
    background-color: #e0e5eb;
    padding: $spacing-2-s $spacing-0-l;

    .MuiTypography-root {
      color: $grey-3;
      color: $grey-3;
    }

    &.active {
      .MuiTypography-root {
        color: $primary-color;
      }
    }
  }
}
