@import '../1-settings/settings.colors';
@import '../1-settings/settings.sizes';
@import '../1-settings/settings.radius';
@import '../1-settings/settings.spacing';

.calendar-event {
  position: absolute;
  left: 4px;
  right: 4px;
  z-index: 1;
  padding: $spacing-1-m;
  border-radius: 6px;

  &::before {
    content: '';
    position: absolute;
    top: 14px;
    left: 4px;
    bottom: 14px;
    width: 4px;
    border-radius: $radius-lg;
  }

  &--compact {
    position: relative;
    padding: $spacing-1-m $spacing-1-s $spacing-0-s;
    min-height: 54px;

    &::before {
      top: 6px;
      left: 12px;
      right: 12px;
      bottom: auto;
      width: auto;
      height: 6px;
    }
  }

  &--compact &__title {
    max-width: 50px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  &--course {
    background-color: #c9e4ff;
    &::before {
      background-color: #79a9d9;
    }
  }

  &--personal {
    background-color: #d1eae7;

    &::before {
      background-color: #629d9e;
    }
  }

  &--group {
    background-color: #faeedf;
    &::before {
      background-color: #d99754;
    }
  }

  &__title {
    font-size: $size-1-s;
  }

  &__time {
    &.MuiTypography-root {
      font-size: $size-1-s;
    }
  }
}
