@import '../1-settings/settings.colors';
@import '../1-settings/settings.spacing';
@import '../1-settings/settings.sizes';
@import '../1-settings/settings.fonts';

.calendar-month {
  &__control-button {
    &.MuiButtonBase-root {
      padding: $spacing-0-xs $spacing-0-m;
      min-width: auto;
      color: $black;

      &:hover {
        color: $white;
        background: $primary-color;
      }
    }
  }

  &__month {
    font-size: $size-2-xs;

    > span {
      margin: 0 4px;
    }
  }

  &__today-info {
    font-size: $size-1-l;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
  }

  &__day-cell {
    position: relative;
    padding: $spacing-0-m;
    height: 108px;
    border: 1px solid #e1e7ed;

    &--weekend {
      background-color: $grey-2;
    }

    &--weekend &--current-month {
      background-color: $grey-2;
    }

    &--another-month {
      .MuiTypography-root {
        color: $grey-3;
      }
    }

    &--unavailable-day {
      background-color: $grey-2;
    }

    &--today .calendar-month__day-cell-day-number {
      &.MuiTypography-root {
        color: $primary-color;
      }
    }
  }

  &__day-cell-events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 6px;

    > div {
      &:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }

      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }
    }
  }
}
