@import '../1-settings/settings.colors';
@import '../1-settings/settings.sizes';
@import '../1-settings/settings.fonts';

.calendar-view-switchers {
  &__button {
    &.MuiButtonBase-root {
      font-size: $size-1-m;
      color: $grey-3;
      font-weight: $weight-semibold;
      padding: 0;
      outline: none;
      border: none;
      background-color: transparent;
      text-transform: lowercase;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        background-color: transparent;
      }
    }

    &--active {
      &.MuiButtonBase-root {
        color: $primary-color;
      }
    }
  }
}
