.page-teacher {
  &__body {
    display: flex;
  }

  &__aside {
    display: none;

    @media (min-width: $screen-sm) {
      flex: 1 0 280px;
      margin-right: 20px;
      display: block;
    }

    @media (min-width: $screen-md) {
      margin-right: 20px;
    }

    @media (min-width: $screen-lg) {
      flex: 1 0 280px;
      margin-right: 50px;
    }

    .shadow-container {
      padding: 25px 20px;

      @media (min-width: $screen-lg) {
        padding: 30px 30px 10px;
      }
    }
  }

  &__content {
    flex: 0 1 1030px;
  }

  &__content {
  }

  &__content-grid {
    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -14px;
    }

    @media (min-width: $screen-xl) {
      display: block;
      margin: 0;
    }
  }

  &__content-grid-col {
    @media (min-width: $screen-md) {
      padding: 0 14px;
      width: 50%;
    }

    @media (min-width: $screen-xl) {
      width: 100%;
      padding: 0;
    }
  }

  .teacher-card {
    margin-bottom: 30px;

    @media (min-width: $screen-sm) {
      display: block;
    }

    @media (min-width: $screen-md) {
      display: block;
    }

    @media (min-width: $screen-lg) {
      display: block;
    }

    @media (min-width: $screen-xl) {
      display: flex;
    }

    &__left {
      @media (min-width: $screen-md) {
        display: block;
      }
      @media (min-width: $screen-xl) {
        display: flex;
      }
    }
  }
}
