@import '../1-settings/settings.fonts';
@import '../1-settings/settings.sizes';

.MuiTypography {
  &.MuiTypography-root {
    color: $black;
    font-family: $base-font;
  }

  &.MuiTypography-h1,
  &.MuiTypography-h2,
  &.MuiTypography-h3 {
    font-family: $heading-font;
    font-weight: $weight-semibold;
    line-height: $h1-line-heght;
  }

  &.MuiTypography-h4,
  &.MuiTypography-h5,
  &.MuiTypography-h6 {
    font-family: $base-font;
    font-weight: $weight-bold;
    line-height: $h1-line-heght;
  }

  &.MuiTypography-subtitle2 {
    font-size: $size-1-m;
  }

  &.MuiTypography-h1 {
    font-size: $h1-font-size;

    @media (min-width: $screen-lg) {
      font-size: $h1-font-size;
    }
  }
  &.MuiTypography-h2 {
    font-size: $h2-font-size;

    @media (min-width: $screen-lg) {
      font-size: $h2-font-size;
    }
  }
  &.MuiTypography-h3 {
    font-size: $h3-font-size;

    @media (min-width: $screen-lg) {
      font-size: $h3-font-size;
    }
  }
  &.MuiTypography-h4 {
    font-size: $h4-font-size;

    @media (min-width: $screen-lg) {
      font-size: $h4-font-size;
    }
  }
  &.MuiTypography-h5 {
    font-size: $h5-font-size;

    @media (min-width: $screen-lg) {
      font-size: $h5-font-size;
    }
  }
  &.MuiTypography-h6 {
    font-size: $h6-font-size;
    line-height: $h6-line-heght;

    @media (min-width: $screen-lg) {
    }
  }
}
