@import '../1-settings/settings.colors';
@import '../1-settings/settings.sizes';
@import '../1-settings/settings.fonts';
@import '../1-settings/settings.radius';
@import '../1-settings/settings.spacing';
@import '../1-settings/settings.responsive';

.MuiTextField-root {
  .MuiInputLabel-standard {
    color: $grey-3;
    font-weight: $weight-medium;
    font-size: $size-1-m;
    line-height: $base-lh;
    font-family: $base-font;
    text-transform: capitalize;

    &.Mui-focused {
      color: $grey-3;
    }

    &.Mui-error {
      color: $grey-3;
    }
  }

  .MuiFormHelperText-root {
    &.Mui-error {
      color: $primary-color;
      text-align: right;
    }
  }

  .MuiInput-root {
    background-color: $grey-2;
    border-radius: $radius-xxl;
    padding: $spacing-0-xs $spacing-1-m;
    overflow: hidden;

    &.MuiInputBase-adornedEnd {
      padding-right: 30px !important;
    }

    &.Mui-error {
      border: 1px solid $primary-color;
    }

    &::before,
    &:after {
      display: none;
    }

    input {
      color: $dark-blue-1;
      font-weight: $weight-medium;
      font-size: $size-1-m;
      line-height: $base-lh;
      font-family: $base-font;
    }
  }
}

.MuiFormControlRadio {
  &.MuiFormControlLabel-root {
    .MuiRadio-root {
      &:hover {
        background-color: transparent;
      }
    }
    .MuiSvgIcon-root {
      &:nth-child(1) {
        fill: $grey-1;
      }
      &:nth-child(2) {
        fill: $primary-color;
      }
    }
  }
}

.form-button-field {
  padding-left: 0;
  margin-bottom: 10px;

  &--remove {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $primary-color;
    margin-right: 6px;
  }

  &__text {
  }
}

.form-account {
  .MuiFormControl-root {
    width: 100%;
  }

  &__additional-button {
    color: $grey-3;
    padding: 0;
    text-decoration: underline;
    text-transform: initial;
    padding-top: 10px;

    @media (min-width: $screen-sm) {
      margin-left: 10px;
      margin-bottom: 8px;
    }

    @media (min-width: $screen-md) {
    }

    &:hover {
      background-color: transparent;
    }
  }
}
