@import '../1-settings/settings.colors';
@import '../1-settings/settings.sizes';

.form-filter {
  &__reset-button {
    &.MuiButtonBase-root {
      color: $primary-color;
      text-decoration: underline;
      font-size: $size-1-m;
      text-transform: capitalize;
      margin: 0 auto;

      &:hover {
        background-color: transparent;
        text-decoration: none;
      }
    }
  }
}
