@import '../1-settings/settings.colors';
@import '../1-settings/settings.spacing';
@import '../1-settings/settings.sizes';
@import '../1-settings/settings.responsive';

.teacher-group-lesson-card {
  border: 1px solid $light-blue-2;
  background-color: $light-blue-3;
  padding: $spacing-1-l;
  width: 400px;

  @media (min-width: $screen-sm) {
    padding: $spacing-2-m $spacing-3-l;
  }

  &__badges-list {
    @media (max-width: $screen-sm-max) {
      flex-wrap: wrap;
    }
  }

  &__start-date {
    &.MuiTypography-subtitle2 {
      font-size: calc($size-1-s + 1px);
    }
  }

  .badge {
    margin-bottom: 8px;

    @media (max-width: $screen-sm-max) {
      margin-left: 0;
    }

    &:not(:last-child) {
      @media (max-width: $screen-sm-max) {
        margin-right: 12px;
      }
    }
  }

  &__teacher {
    display: flex;
  }

  &__teacher-image {
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    flex: 0 1 50px;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__teacher-body {
    flex: 1;
  }

  &__info {
    border-bottom: 1px solid $light-blue-2;
  }
}
