@import '../1-settings/settings.colors';
@import '../1-settings/settings.spacing';
@import '../1-settings/settings.radius';
@import '../1-settings/settings.sizes';

.badge {
  border-radius: $radius-xxl;
  padding: $spacing-0-s $spacing-1-s$spacing-0-s $spacing-1-m;
  font-size: $size-1-s;
  margin-bottom: 12px;
  display: inline-flex;

  @media (max-width: $screen-sm-max) {
    margin-left: 0;
  }

  &:not(:last-child) {
    @media (max-width: $screen-sm-max) {
      margin-right: 12px;
    }
  }

  svg {
    vertical-align: middle;
    margin-bottom: 2px;
    margin-right: 6px;
  }

  &__text {
    &.MuiTypography {
      font-size: $size-1-s;
    }

    > span {
      display: inline-block;
      margin-left: 6px;
    }
  }

  &--date {
  }

  &--time {
  }
}
