@import '../1-settings/settings.colors';
@import '../1-settings/settings.radius';
@import '../1-settings/settings.shadows';
@import '../1-settings/settings.spacing';

.container-with-shadow {
  background-color: $white;
  border-radius: $radius-lg;
  box-shadow: $base-shadow;
  padding: $spacing-4-s $spacing-4-l;
}
