@import '../1-settings/settings.colors';
@import '../1-settings/settings.spacing';
@import '../2-tools/tools.mixins';

.modal-card-full {
  background-color: $white;
  height: 100vh;
  display: flex;

  &__button-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 64px;

    &:hover {
      background-color: transparent;
    }
  }
}
