@import '../1-settings/settings.fonts';
@import '../1-settings/settings.colors';
@import '../2-tools/tools.mixins';

.filter-lessons {
  &__filter-button {
    &.MuiButtonBase-root {
      color: $grey-3;
      font-size: $size-1-m;
      font-family: $base-font;
      font-weight: $weight-semibold;
      padding: 0;
      outline: none;
      border: none;
      background-color: transparent;
      text-transform: lowercase;
      text-decoration: underline;
      cursor: pointer;
      min-width: auto;
      line-height: 1;

      &:hover {
        background-color: transparent;
      }
    }

    &--active {
      &.MuiButtonBase-root {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }
}
